.spinner {
    width: 100%;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    table{
        tbody{
            td{
                text-align: left;
            }
        }
    }

    .add-button {
        margin: 20px 0;

        a{
            text-decoration: none;
            color: white;
        }
    }
}
